body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: rgb(53,51,74);
  background: linear-gradient(177deg, rgba(53,51,74,1) 17%, rgba(72,74,144,1) 35%, rgba(23,136,179,0.6671043417366946) 49%, rgba(2,159,220,1) 83%, rgba(0,212,255,1) 100%);
}
